<md-card>
    <md-card-header>
        <md-card-title>{{mdFile}}</md-card-title>
    </md-card-header>

    <md-card-content>
        <markdown [path]="'/data/' + mdFile"></markdown>
    </md-card-content>

    <md-card-actions>
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="space-between center">
            <a md-raised-button [routerLink]="['/edit', mdFile]" color="accent">EDIT</a>

            <div>
                <md-input-container>
                    <input mdInput type="text" #text placeholder="Another file name">
                </md-input-container>
                <a md-raised-button [routerLink]="['/page2', text.value]">GO</a>
            </div>
        </div>
    </md-card-actions>
</md-card>