<form (ngSubmit)="onSubmit()" #mdForm="ngForm" fxLayout="row">
    <md-card fxFlex="50%">
        <md-card-header>
            <md-card-title>Editing</md-card-title>
        </md-card-header>

        <md-card-content fxLayout="column">
            <md-input-container>
                <textarea mdInput placeholder="Markdown" [(ngModel)]="content" name="content" rows="20"></textarea>
            </md-input-container>
        </md-card-content>

        <md-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <button md-raised-button type="submit" [disabled]="!mdForm.form.valid" color="primary">SAVE</button>
                <button md-raised-button [routerLink]="['/page2/', mdFile]">CANCEL</button>
            </div>

            <md-input-container>
                <input type="text" mdInput placeholder="Save as" [(ngModel)]="mdFile" name="mdFile" required>
            </md-input-container>
        </md-card-actions>
    </md-card>

    <md-card fxFlex="50%">
        <md-card-header>
            <md-card-title>Preview</md-card-title>
        </md-card-header>

        <md-card-content>
            <markdown [data]="content"></markdown>
        </md-card-content>
    </md-card>
</form>